<div class="mb-4 h2 text-success">
    Get Started
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div [ngClass]="{'mb-1': isFieldInvalid('fullName'), 'mb-3': !isFieldInvalid('fullName')}">
        <input class="form-control bg-body-secondary" placeholder="Enter full name" formControlName="fullName" (input)="onInputChange('fullName')">
        <i class="error-feedback" *ngIf="isFieldInvalid('fullName')">{{ getErrorMessage('fullName') }}</i>
    </div>
    <div [ngClass]="{'mb-1': isFieldInvalid('email'), 'mb-3': !isFieldInvalid('email')}">
        <input class="form-control bg-body-secondary" type="email" placeholder="Enter email" formControlName="email">
        <i class="error-feedback" *ngIf="isFieldInvalid('email')">{{ getErrorMessage('email') }}</i>
    </div>
    <div [ngClass]="{'mb-1': isFieldInvalid('gender'), 'mb-3': !isFieldInvalid('gender')}">
        <select class="form-control bg-body-secondary" formControlName="gender">
            <option value="" disabled selected>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <i class="error-feedback" *ngIf="isFieldInvalid('gender')">{{ getErrorMessage('gender') }}</i>
    </div>
  <div [ngClass]="{'mb-1': isFieldInvalid('dob'), 'mb-3': !isFieldInvalid('dob')}">
        <div class="position-relative">
            <input type="date" class="form-control bg-body-secondary" formControlName="dob" [style]="form.get('dob')?.value ? 'black' : 'gray'">
        </div>
        <i class="error-feedback" *ngIf="isFieldInvalid('dob')">{{ getErrorMessage('dob') }}</i>
    </div>
    <div [ngClass]="{'mb-1': isFieldInvalid('password'), 'mb-3': !isFieldInvalid('password')}">
        <input class="form-control bg-body-secondary" type="password" placeholder="Enter password" formControlName="password">
        <i class="error-feedback" *ngIf="isFieldInvalid('password')">{{ getErrorMessage('password') }}</i>
    </div>
    <div [ngClass]="{'mb-1': isFieldInvalid('confirmPassword'), 'mb-3': !isFieldInvalid('confirmPassword')}">
        <input class="form-control bg-body-secondary" type="password" placeholder="Enter confirm password" formControlName="confirmPassword">
        <i class="error-feedback" *ngIf="isFieldInvalid('confirmPassword')">{{ getErrorMessage('confirmPassword') }}</i>
    </div>
    <div class="text-center mt-2">
        <p class="text-muted">
            People who use our service may have uploaded your contact information to 
            <a href="https://en.wikipedia.org/wiki/Ecosphere_(planetary)" class="text-success fw-bold">EchoSphere</a>.
        </p>
    </div>
    
    <div class="mb-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">Get Started Now</button>
    </div>
    <div class="text-center">
        <p class="text-muted">
            Already have an account? 
            <a routerLink="/login" class="text-success fw-bold">Login here</a>
        </p>
    </div>
    
</form>
