<div class="text-center mt-5 mb-2 ">
    <h1 class="text-gradient shadow-text text-primary mb-0">EchoSphere</h1>
    <p class="text-primary mb-0 small">Where Voices Connect, and Moments Echo</p>
</div>
<div class="container mt-2">
    <div class="row vh-50 align-items-center">
        <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
            <div class="rounded-4 border-0 shadow-lg bg-white" style="min-height: 450px;">
                <div class="d flex justify-content-start align-items-center">
                <div class="p-5 w-100">
                    <app-registration></app-registration>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>